<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browser PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpG5KEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkQ
	SFAgTGFzZXJKZXQgMTMwMIaGkoSZmRZOU0hvcml6b250YWxseUNlbnRlcmVkhpKEm5yd
	lwGGkoSZmRROU1ZlcnRpY2FsbHlDZW50ZXJlZIaSo5KEmZkLTlNUb3BNYXJnaW6GkoSb
	nISEAWaeSIaShJmZFU5TSG9yaXpvbmFsUGFnaW5hdGlvboaShJucnZcChpKEmZkITlND
	b3BpZXOGkqOShJmZD05TUHJpbnRBbGxQYWdlc4aSo5KEmZkNTlNPcmllbnRhdGlvboaS
	mpKEmZkOTlNCb3R0b21NYXJnaW6GkoSbnKeeSIaShJmZC05TUGFwZXJTaXplhpKEnJyE
	hAt7Q0dTaXplPWRkfZ+BZAKBGAOGkoSZmQtOU0ZpcnN0UGFnZYaSo5KEmZkYTlNEZXRh
	aWxlZEVycm9yUmVwb3J0aW5nhpKakoSZmQ1OU1BhZ2VzQWNyb3NzhpKjkoSZmQtOU0Zh
	eE51bWJlcoaShJmZAIaShJmZEE5TUHJpbnRQcm90ZWN0ZWSGkpqShJmZDU5TUHJpbnRl
	ck5hbWWGkqGShJmZDE5TTGVmdE1hcmdpboaShJucp55IhpKEmZkLTlNQcmludFRpbWWG
	koSEhAZOU0RhdGUAlIQBZIMAAADcwGMtwoaShJmZC05TUGFwZXJOYW1lhpKEmZkGTGV0
	dGVyhpKEmZkNTlNSaWdodE1hcmdpboaShJucp55IhpKEmZkLTlNQYWdlc0Rvd26GkqOS
	hJmZDU5TTXVzdENvbGxhdGWGkqOShJmZEE5TSm9iRGlzcG9zaXRpb26GkoSZmQ9OU1By
	aW50U3Bvb2xKb2KGkoSZmQ9OU1NjYWxpbmdGYWN0b3KGkoSbnKeeAYaShJmZCk5TTGFz
	dFBhZ2WGkoSbnJ2Xgv///3+GkoSZmQpOU1NhdmVQYXRohpK2hoY=
	</data>
	<key>Chart PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpFpKEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQtOU1RvcE1hcmdpboaShJuchIQBZJ2DAAAAAOB6KECG
	koSZmRZOU0hvcml6b250YWxseUNlbnRlcmVkhpKEm5ydlwGGkoSZmRROU1ZlcnRpY2Fs
	bHlDZW50ZXJlZIaSopKEmZkOTlNQTVBhZ2VGb3JtYXSGkoSEhAZOU0RhdGEAlJeBqxuE
	B1s3MDgzY108P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJVVEYtOCI/Pgo8IURP
	Q1RZUEUgcGxpc3QgUFVCTElDICItLy9BcHBsZS8vRFREIFBMSVNUIDEuMC8vRU4iICJo
	dHRwOi8vd3d3LmFwcGxlLmNvbS9EVERzL1Byb3BlcnR5TGlzdC0xLjAuZHRkIj4KPHBs
	aXN0IHZlcnNpb249IjEuMCI+CjxkaWN0PgoJPGtleT5jb20uYXBwbGUucHJpbnQuUGFn
	ZUZvcm1hdC5Gb3JtYXR0aW5nUHJpbnRlcjwva2V5PgoJPGRpY3Q+CgkJPGtleT5jb20u
	YXBwbGUucHJpbnQudGlja2V0LmNyZWF0b3I8L2tleT4KCQk8c3RyaW5nPmNvbS5hcHBs
	ZS5qb2J0aWNrZXQ8L3N0cmluZz4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQu
	aXRlbUFycmF5PC9rZXk+CgkJPGFycmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+Y29tLmFw
	cGxlLnByaW50LlBhZ2VGb3JtYXQuRm9ybWF0dGluZ1ByaW50ZXI8L2tleT4KCQkJCTxz
	dHJpbmc+XzE5Ml8xNjhfMV8zPC9zdHJpbmc+CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmlu
	dC50aWNrZXQuc3RhdGVGbGFnPC9rZXk+CgkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJ
	CQk8L2RpY3Q+CgkJPC9hcnJheT4KCTwvZGljdD4KCTxrZXk+Y29tLmFwcGxlLnByaW50
	LlBhZ2VGb3JtYXQuUE1Ib3Jpem9udGFsUmVzPC9rZXk+Cgk8ZGljdD4KCQk8a2V5PmNv
	bS5hcHBsZS5wcmludC50aWNrZXQuY3JlYXRvcjwva2V5PgoJCTxzdHJpbmc+Y29tLmFw
	cGxlLmpvYnRpY2tldDwvc3RyaW5nPgoJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tl
	dC5pdGVtQXJyYXk8L2tleT4KCQk8YXJyYXk+CgkJCTxkaWN0PgoJCQkJPGtleT5jb20u
	YXBwbGUucHJpbnQuUGFnZUZvcm1hdC5QTUhvcml6b250YWxSZXM8L2tleT4KCQkJCTxy
	ZWFsPjcyPC9yZWFsPgoJCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LnN0YXRl
	RmxhZzwva2V5PgoJCQkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwv
	YXJyYXk+Cgk8L2RpY3Q+Cgk8a2V5PmNvbS5hcHBsZS5wcmludC5QYWdlRm9ybWF0LlBN
	T3JpZW50YXRpb248L2tleT4KCTxkaWN0PgoJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRp
	Y2tldC5jcmVhdG9yPC9rZXk+CgkJPHN0cmluZz5jb20uYXBwbGUuam9idGlja2V0PC9z
	dHJpbmc+CgkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0Lml0ZW1BcnJheTwva2V5
	PgoJCTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC5QYWdl
	Rm9ybWF0LlBNT3JpZW50YXRpb248L2tleT4KCQkJCTxpbnRlZ2VyPjE8L2ludGVnZXI+
	CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuc3RhdGVGbGFnPC9rZXk+CgkJ
	CQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJPC9hcnJheT4KCTwvZGlj
	dD4KCTxrZXk+Y29tLmFwcGxlLnByaW50LlBhZ2VGb3JtYXQuUE1TY2FsaW5nPC9rZXk+
	Cgk8ZGljdD4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuY3JlYXRvcjwva2V5
	PgoJCTxzdHJpbmc+Y29tLmFwcGxlLmpvYnRpY2tldDwvc3RyaW5nPgoJCTxrZXk+Y29t
	LmFwcGxlLnByaW50LnRpY2tldC5pdGVtQXJyYXk8L2tleT4KCQk8YXJyYXk+CgkJCTxk
	aWN0PgoJCQkJPGtleT5jb20uYXBwbGUucHJpbnQuUGFnZUZvcm1hdC5QTVNjYWxpbmc8
	L2tleT4KCQkJCTxyZWFsPjE8L3JlYWw+CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50
	aWNrZXQuc3RhdGVGbGFnPC9rZXk+CgkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQk8
	L2RpY3Q+CgkJPC9hcnJheT4KCTwvZGljdD4KCTxrZXk+Y29tLmFwcGxlLnByaW50LlBh
	Z2VGb3JtYXQuUE1WZXJ0aWNhbFJlczwva2V5PgoJPGRpY3Q+CgkJPGtleT5jb20uYXBw
	bGUucHJpbnQudGlja2V0LmNyZWF0b3I8L2tleT4KCQk8c3RyaW5nPmNvbS5hcHBsZS5q
	b2J0aWNrZXQ8L3N0cmluZz4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuaXRl
	bUFycmF5PC9rZXk+CgkJPGFycmF5PgoJCQk8ZGljdD4KCQkJCTxrZXk+Y29tLmFwcGxl
	LnByaW50LlBhZ2VGb3JtYXQuUE1WZXJ0aWNhbFJlczwva2V5PgoJCQkJPHJlYWw+NzI8
	L3JlYWw+CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuc3RhdGVGbGFnPC9r
	ZXk+CgkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQk8L2RpY3Q+CgkJPC9hcnJheT4K
	CTwvZGljdD4KCTxrZXk+Y29tLmFwcGxlLnByaW50LlBhZ2VGb3JtYXQuUE1WZXJ0aWNh
	bFNjYWxpbmc8L2tleT4KCTxkaWN0PgoJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tl
	dC5jcmVhdG9yPC9rZXk+CgkJPHN0cmluZz5jb20uYXBwbGUuam9idGlja2V0PC9zdHJp
	bmc+CgkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0Lml0ZW1BcnJheTwva2V5PgoJ
	CTxhcnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC5QYWdlRm9y
	bWF0LlBNVmVydGljYWxTY2FsaW5nPC9rZXk+CgkJCQk8cmVhbD4xPC9yZWFsPgoJCQkJ
	PGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LnN0YXRlRmxhZzwva2V5PgoJCQkJPGlu
	dGVnZXI+MDwvaW50ZWdlcj4KCQkJPC9kaWN0PgoJCTwvYXJyYXk+Cgk8L2RpY3Q+Cgk8
	a2V5PmNvbS5hcHBsZS5wcmludC5zdWJUaWNrZXQucGFwZXJfaW5mb190aWNrZXQ8L2tl
	eT4KCTxkaWN0PgoJCTxrZXk+UE1QUERQYXBlckNvZGVOYW1lPC9rZXk+CgkJPGRpY3Q+
	CgkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5jcmVhdG9yPC9rZXk+CgkJCTxz
	dHJpbmc+Y29tLmFwcGxlLmpvYnRpY2tldDwvc3RyaW5nPgoJCQk8a2V5PmNvbS5hcHBs
	ZS5wcmludC50aWNrZXQuaXRlbUFycmF5PC9rZXk+CgkJCTxhcnJheT4KCQkJCTxkaWN0
	PgoJCQkJCTxrZXk+UE1QUERQYXBlckNvZGVOYW1lPC9rZXk+CgkJCQkJPHN0cmluZz5M
	ZXR0ZXI8L3N0cmluZz4KCQkJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuc3Rh
	dGVGbGFnPC9rZXk+CgkJCQkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQkJCTwvZGljdD4K
	CQkJPC9hcnJheT4KCQk8L2RpY3Q+CgkJPGtleT5QTVBQRFRyYW5zbGF0aW9uU3RyaW5n
	UGFwZXJOYW1lPC9rZXk+CgkJPGRpY3Q+CgkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRp
	Y2tldC5jcmVhdG9yPC9rZXk+CgkJCTxzdHJpbmc+Y29tLmFwcGxlLmpvYnRpY2tldDwv
	c3RyaW5nPgoJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuaXRlbUFycmF5PC9r
	ZXk+CgkJCTxhcnJheT4KCQkJCTxkaWN0PgoJCQkJCTxrZXk+UE1QUERUcmFuc2xhdGlv
	blN0cmluZ1BhcGVyTmFtZTwva2V5PgoJCQkJCTxzdHJpbmc+TGV0dGVyPC9zdHJpbmc+
	CgkJCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LnN0YXRlRmxhZzwva2V5PgoJ
	CQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvYXJyYXk+CgkJ
	PC9kaWN0PgoJCTxrZXk+UE1UaW9nYVBhcGVyTmFtZTwva2V5PgoJCTxkaWN0PgoJCQk8
	a2V5PmNvbS5hcHBsZS5wcmludC50aWNrZXQuY3JlYXRvcjwva2V5PgoJCQk8c3RyaW5n
	PmNvbS5hcHBsZS5qb2J0aWNrZXQ8L3N0cmluZz4KCQkJPGtleT5jb20uYXBwbGUucHJp
	bnQudGlja2V0Lml0ZW1BcnJheTwva2V5PgoJCQk8YXJyYXk+CgkJCQk8ZGljdD4KCQkJ
	CQk8a2V5PlBNVGlvZ2FQYXBlck5hbWU8L2tleT4KCQkJCQk8c3RyaW5nPm5hLWxldHRl
	cjwvc3RyaW5nPgoJCQkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5zdGF0ZUZs
	YWc8L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQkJPC9kaWN0PgoJCQk8
	L2FycmF5PgoJCTwvZGljdD4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC5QYWdlRm9ybWF0
	LlBNQWRqdXN0ZWRQYWdlUmVjdDwva2V5PgoJCTxkaWN0PgoJCQk8a2V5PmNvbS5hcHBs
	ZS5wcmludC50aWNrZXQuY3JlYXRvcjwva2V5PgoJCQk8c3RyaW5nPmNvbS5hcHBsZS5q
	b2J0aWNrZXQ8L3N0cmluZz4KCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0Lml0
	ZW1BcnJheTwva2V5PgoJCQk8YXJyYXk+CgkJCQk8ZGljdD4KCQkJCQk8a2V5PmNvbS5h
	cHBsZS5wcmludC5QYWdlRm9ybWF0LlBNQWRqdXN0ZWRQYWdlUmVjdDwva2V5PgoJCQkJ
	CTxhcnJheT4KCQkJCQkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQkJCQkJPGludGVnZXI+
	MDwvaW50ZWdlcj4KCQkJCQkJPHJlYWw+NzY3Ljc2MDAwOTc2NTYyNTwvcmVhbD4KCQkJ
	CQkJPHJlYWw+NTg3Ljc2MDAwOTc2NTYyNTwvcmVhbD4KCQkJCQk8L2FycmF5PgoJCQkJ
	CTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5zdGF0ZUZsYWc8L2tleT4KCQkJCQk8
	aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQkJPC9kaWN0PgoJCQk8L2FycmF5PgoJCTwvZGlj
	dD4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC5QYWdlRm9ybWF0LlBNQWRqdXN0ZWRQYXBl
	clJlY3Q8L2tleT4KCQk8ZGljdD4KCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0
	LmNyZWF0b3I8L2tleT4KCQkJPHN0cmluZz5jb20uYXBwbGUuam9idGlja2V0PC9zdHJp
	bmc+CgkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5pdGVtQXJyYXk8L2tleT4K
	CQkJPGFycmF5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5jb20uYXBwbGUucHJpbnQuUGFn
	ZUZvcm1hdC5QTUFkanVzdGVkUGFwZXJSZWN0PC9rZXk+CgkJCQkJPGFycmF5PgoJCQkJ
	CQk8cmVhbD4tMTIuMjM5OTkwMjM0Mzc1PC9yZWFsPgoJCQkJCQk8cmVhbD4tMTI8L3Jl
	YWw+CgkJCQkJCTxyZWFsPjc3OS43NjAwMDk3NjU2MjU8L3JlYWw+CgkJCQkJCTxyZWFs
	PjYwMDwvcmVhbD4KCQkJCQk8L2FycmF5PgoJCQkJCTxrZXk+Y29tLmFwcGxlLnByaW50
	LnRpY2tldC5zdGF0ZUZsYWc8L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJ
	CQkJPC9kaWN0PgoJCQk8L2FycmF5PgoJCTwvZGljdD4KCQk8a2V5PmNvbS5hcHBsZS5w
	cmludC5QYXBlckluZm8uUE1QYXBlck5hbWU8L2tleT4KCQk8ZGljdD4KCQkJPGtleT5j
	b20uYXBwbGUucHJpbnQudGlja2V0LmNyZWF0b3I8L2tleT4KCQkJPHN0cmluZz5jb20u
	YXBwbGUuam9idGlja2V0PC9zdHJpbmc+CgkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRp
	Y2tldC5pdGVtQXJyYXk8L2tleT4KCQkJPGFycmF5PgoJCQkJPGRpY3Q+CgkJCQkJPGtl
	eT5jb20uYXBwbGUucHJpbnQuUGFwZXJJbmZvLlBNUGFwZXJOYW1lPC9rZXk+CgkJCQkJ
	PHN0cmluZz5uYS1sZXR0ZXI8L3N0cmluZz4KCQkJCQk8a2V5PmNvbS5hcHBsZS5wcmlu
	dC50aWNrZXQuc3RhdGVGbGFnPC9rZXk+CgkJCQkJPGludGVnZXI+MDwvaW50ZWdlcj4K
	CQkJCTwvZGljdD4KCQkJPC9hcnJheT4KCQk8L2RpY3Q+CgkJPGtleT5jb20uYXBwbGUu
	cHJpbnQuUGFwZXJJbmZvLlBNVW5hZGp1c3RlZFBhZ2VSZWN0PC9rZXk+CgkJPGRpY3Q+
	CgkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5jcmVhdG9yPC9rZXk+CgkJCTxz
	dHJpbmc+Y29tLmFwcGxlLmpvYnRpY2tldDwvc3RyaW5nPgoJCQk8a2V5PmNvbS5hcHBs
	ZS5wcmludC50aWNrZXQuaXRlbUFycmF5PC9rZXk+CgkJCTxhcnJheT4KCQkJCTxkaWN0
	PgoJCQkJCTxrZXk+Y29tLmFwcGxlLnByaW50LlBhcGVySW5mby5QTVVuYWRqdXN0ZWRQ
	YWdlUmVjdDwva2V5PgoJCQkJCTxhcnJheT4KCQkJCQkJPGludGVnZXI+MDwvaW50ZWdl
	cj4KCQkJCQkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQkJCQkJPHJlYWw+NzY3Ljc2MDAw
	OTc2NTYyNTwvcmVhbD4KCQkJCQkJPHJlYWw+NTg3Ljc2MDAwOTc2NTYyNTwvcmVhbD4K
	CQkJCQk8L2FycmF5PgoJCQkJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5zdGF0
	ZUZsYWc8L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQkJPC9kaWN0PgoJ
	CQk8L2FycmF5PgoJCTwvZGljdD4KCQk8a2V5PmNvbS5hcHBsZS5wcmludC5QYXBlcklu
	Zm8uUE1VbmFkanVzdGVkUGFwZXJSZWN0PC9rZXk+CgkJPGRpY3Q+CgkJCTxrZXk+Y29t
	LmFwcGxlLnByaW50LnRpY2tldC5jcmVhdG9yPC9rZXk+CgkJCTxzdHJpbmc+Y29tLmFw
	cGxlLmpvYnRpY2tldDwvc3RyaW5nPgoJCQk8a2V5PmNvbS5hcHBsZS5wcmludC50aWNr
	ZXQuaXRlbUFycmF5PC9rZXk+CgkJCTxhcnJheT4KCQkJCTxkaWN0PgoJCQkJCTxrZXk+
	Y29tLmFwcGxlLnByaW50LlBhcGVySW5mby5QTVVuYWRqdXN0ZWRQYXBlclJlY3Q8L2tl
	eT4KCQkJCQk8YXJyYXk+CgkJCQkJCTxyZWFsPi0xMi4yMzk5OTAyMzQzNzU8L3JlYWw+
	CgkJCQkJCTxyZWFsPi0xMjwvcmVhbD4KCQkJCQkJPHJlYWw+Nzc5Ljc2MDAwOTc2NTYy
	NTwvcmVhbD4KCQkJCQkJPHJlYWw+NjAwPC9yZWFsPgoJCQkJCTwvYXJyYXk+CgkJCQkJ
	PGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LnN0YXRlRmxhZzwva2V5PgoJCQkJCTxp
	bnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvYXJyYXk+CgkJPC9kaWN0
	PgoJCTxrZXk+Y29tLmFwcGxlLnByaW50LlBhcGVySW5mby5wcGQuUE1QYXBlck5hbWU8
	L2tleT4KCQk8ZGljdD4KCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LmNyZWF0
	b3I8L2tleT4KCQkJPHN0cmluZz5jb20uYXBwbGUuam9idGlja2V0PC9zdHJpbmc+CgkJ
	CTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5pdGVtQXJyYXk8L2tleT4KCQkJPGFy
	cmF5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5jb20uYXBwbGUucHJpbnQuUGFwZXJJbmZv
	LnBwZC5QTVBhcGVyTmFtZTwva2V5PgoJCQkJCTxzdHJpbmc+TGV0dGVyPC9zdHJpbmc+
	CgkJCQkJPGtleT5jb20uYXBwbGUucHJpbnQudGlja2V0LnN0YXRlRmxhZzwva2V5PgoJ
	CQkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvYXJyYXk+CgkJ
	PC9kaWN0PgoJCTxrZXk+Y29tLmFwcGxlLnByaW50LnRpY2tldC5BUElWZXJzaW9uPC9r
	ZXk+CgkJPHN0cmluZz4wMC4yMDwvc3RyaW5nPgoJCTxrZXk+Y29tLmFwcGxlLnByaW50
	LnRpY2tldC50eXBlPC9rZXk+CgkJPHN0cmluZz5jb20uYXBwbGUucHJpbnQuUGFwZXJJ
	bmZvVGlja2V0PC9zdHJpbmc+Cgk8L2RpY3Q+Cgk8a2V5PmNvbS5hcHBsZS5wcmludC50
	aWNrZXQuQVBJVmVyc2lvbjwva2V5PgoJPHN0cmluZz4wMC4yMDwvc3RyaW5nPgoJPGtl
	eT5jb20uYXBwbGUucHJpbnQudGlja2V0LnR5cGU8L2tleT4KCTxzdHJpbmc+Y29tLmFw
	cGxlLnByaW50LlBhZ2VGb3JtYXRUaWNrZXQ8L3N0cmluZz4KPC9kaWN0Pgo8L3BsaXN0
	PgqGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSbnJ2XAoaShJmZCE5TQ29waWVz
	hpKikoSZmQ9OU1ByaW50QWxsUGFnZXOGkqKShJmZDk5TQm90dG9tTWFyZ2luhpKEm5yg
	nQyGkoSZmRhOU0RldGFpbGVkRXJyb3JSZXBvcnRpbmeGkpqShJmZC05TRmlyc3RQYWdl
	hpKikoSZmQ1OU1BhZ2VzQWNyb3NzhpKikoSZmQtOU0ZheE51bWJlcoaShJmZAIaShJmZ
	EE5TUHJpbnRQcm90ZWN0ZWSGkpqShJmZDE5TTGVmdE1hcmdpboaShJucoJ0MhpKEmZkL
	TlNQYWdlc0Rvd26GkqKShJmZC05TUHJpbnRUaW1lhpKEhIQGTlNEYXRlAJSdgwAAANzA
	Yy3ChpKEmZkNTlNSaWdodE1hcmdpboaShJucoJ2DAAAAAOB6KECGkoSZmQ1OU011c3RD
	b2xsYXRlhpKikoSZmRBOU0pvYkRpc3Bvc2l0aW9uhpKEmZkPTlNQcmludFNwb29sSm9i
	hpKEmZkKTlNMYXN0UGFnZYaShJucnZeC////f4aShJmZCk5TU2F2ZVBhdGiGkrGGhg==
	</data>
	<key>Class</key>
	<string>GEDCOMDocument</string>
	<key>Encoding</key>
	<integer>4</integer>
	<key>GEDCOM File Name</key>
	<string>BarackObamaTree.ged</string>
	<key>Index PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpG5KEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkQ
	SFAgTGFzZXJKZXQgMTMwMIaGkoSZmRZOU0hvcml6b250YWxseUNlbnRlcmVkhpKEm5yd
	lwGGkoSZmRROU1ZlcnRpY2FsbHlDZW50ZXJlZIaSo5KEmZkLTlNUb3BNYXJnaW6GkoSb
	nISEAWaeSIaShJmZFU5TSG9yaXpvbmFsUGFnaW5hdGlvboaShJucnZcChpKEmZkITlND
	b3BpZXOGkqOShJmZD05TUHJpbnRBbGxQYWdlc4aSo5KEmZkNTlNPcmllbnRhdGlvboaS
	mpKEmZkOTlNCb3R0b21NYXJnaW6GkoSbnKeeSIaShJmZC05TUGFwZXJTaXplhpKEnJyE
	hAt7Q0dTaXplPWRkfZ+BZAKBGAOGkoSZmQtOU0ZpcnN0UGFnZYaSo5KEmZkYTlNEZXRh
	aWxlZEVycm9yUmVwb3J0aW5nhpKakoSZmQ1OU1BhZ2VzQWNyb3NzhpKjkoSZmQtOU0Zh
	eE51bWJlcoaShJmZAIaShJmZEE5TUHJpbnRQcm90ZWN0ZWSGkpqShJmZDU5TUHJpbnRl
	ck5hbWWGkqGShJmZDE5TTGVmdE1hcmdpboaShJucp55IhpKEmZkLTlNQcmludFRpbWWG
	koSEhAZOU0RhdGUAlIQBZIMAAADcwGMtwoaShJmZC05TUGFwZXJOYW1lhpKEmZkGTGV0
	dGVyhpKEmZkNTlNSaWdodE1hcmdpboaShJucp55IhpKEmZkLTlNQYWdlc0Rvd26GkqOS
	hJmZDU5TTXVzdENvbGxhdGWGkqOShJmZEE5TSm9iRGlzcG9zaXRpb26GkoSZmQ9OU1By
	aW50U3Bvb2xKb2KGkoSZmQ9OU1NjYWxpbmdGYWN0b3KGkoSbnKeeAYaShJmZCk5TTGFz
	dFBhZ2WGkoSbnJ2Xgv///3+GkoSZmQpOU1NhdmVQYXRohpK2hoY=
	</data>
	<key>Record Album Listings</key>
	<array>
		<dict>
			<key>Album Name</key>
			<string>Individuals</string>
			<key>Album Record Type</key>
			<string>INDI</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Families</string>
			<key>Album Record Type</key>
			<string>FAM</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@F1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>HUSB.view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Sources</string>
			<key>Album Record Type</key>
			<string>SOUR</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@SR6@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Multimedia Objects</string>
			<key>Album Record Type</key>
			<string>OBJE</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Header</string>
			<key>Album Record Type</key>
			<string>HEAD</string>
			<key>Album Selected IDs</key>
			<array>
				<string>HEAD</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submitters</string>
			<key>Album Record Type</key>
			<string>SUBM</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@SUBM@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Notes</string>
			<key>Album Record Type</key>
			<string>NOTE</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>_REF.view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Repositories</string>
			<key>Album Record Type</key>
			<string>REPO</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Places</string>
			<key>Album Record Type</key>
			<string>_PLC</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@P334@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view.reverse</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Book Styles</string>
			<key>Album Record Type</key>
			<string>_BOK</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@B1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Save Thumbnails</key>
	<false/>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
