<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browser PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpG5KEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkL
	MTkyLjE2OC4xLjOGhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaShJucnZcBhpKE
	mZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFyZ2luhpKEm5yEhAFk
	nkiGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSbnJ2XAoaShJmZCE5TQ29waWVz
	hpKjkoSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZDU5TT3JpZW50YXRpb26GkpqShJmZ
	Dk5TQm90dG9tTWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhcGVyU2l6ZYaShJychIQLe0NH
	U2l6ZT1kZH2fgWQCgRgDhpKEmZkLTlNGaXJzdFBhZ2WGkqOShJmZGE5TRGV0YWlsZWRF
	cnJvclJlcG9ydGluZ4aSmpKEmZkNTlNQYWdlc0Fjcm9zc4aSo5KEmZkLTlNGYXhOdW1i
	ZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJvdGVjdGVkhpKakoSZmQ1OU1ByaW50ZXJOYW1l
	hpKhkoSZmQxOU0xlZnRNYXJnaW6GkoSbnKeeSIaShJmZC05TUHJpbnRUaW1lhpKEhIQG
	TlNEYXRlAJSegwAAAMXIYy3ChpKEmZkLTlNQYXBlck5hbWWGkoSZmQluYS1sZXR0ZXKG
	koSZmQ1OU1JpZ2h0TWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhZ2VzRG93boaSo5KEmZkN
	TlNNdXN0Q29sbGF0ZYaSo5KEmZkQTlNKb2JEaXNwb3NpdGlvboaShJmZD05TUHJpbnRT
	cG9vbEpvYoaShJmZD05TU2NhbGluZ0ZhY3RvcoaShJucp54BhpKEmZkKTlNMYXN0UGFn
	ZYaShJucnZeC////f4aShJmZCk5TU2F2ZVBhdGiGkraGhg==
	</data>
	<key>Chart PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpG5KEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkL
	MTkyLjE2OC4xLjOGhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaShJucnZcBhpKE
	mZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFyZ2luhpKEm5yEhAFk
	nkiGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSbnJ2XAoaShJmZCE5TQ29waWVz
	hpKjkoSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZDU5TT3JpZW50YXRpb26GkpqShJmZ
	Dk5TQm90dG9tTWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhcGVyU2l6ZYaShJychIQLe0NH
	U2l6ZT1kZH2fgWQCgRgDhpKEmZkLTlNGaXJzdFBhZ2WGkqOShJmZGE5TRGV0YWlsZWRF
	cnJvclJlcG9ydGluZ4aSmpKEmZkNTlNQYWdlc0Fjcm9zc4aSo5KEmZkLTlNGYXhOdW1i
	ZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJvdGVjdGVkhpKakoSZmQ1OU1ByaW50ZXJOYW1l
	hpKhkoSZmQxOU0xlZnRNYXJnaW6GkoSbnKeeSIaShJmZC05TUHJpbnRUaW1lhpKEhIQG
	TlNEYXRlAJSegwAAAMXIYy3ChpKEmZkLTlNQYXBlck5hbWWGkoSZmQluYS1sZXR0ZXKG
	koSZmQ1OU1JpZ2h0TWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhZ2VzRG93boaSo5KEmZkN
	TlNNdXN0Q29sbGF0ZYaSo5KEmZkQTlNKb2JEaXNwb3NpdGlvboaShJmZD05TUHJpbnRT
	cG9vbEpvYoaShJmZD05TU2NhbGluZ0ZhY3RvcoaShJucp54BhpKEmZkKTlNMYXN0UGFn
	ZYaShJucnZeC////f4aShJmZCk5TU2F2ZVBhdGiGkraGhg==
	</data>
	<key>Class</key>
	<string>GEDCOMDocument</string>
	<key>Encoding</key>
	<integer>4</integer>
	<key>GEDCOM File Name</key>
	<string>Windsor.ged</string>
	<key>Index Column Settings</key>
	<dict>
		<key>User Album 2</key>
		<array>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>rec</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Type</string>
				<key>Width</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>view</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Name</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
		<key>User Album 3</key>
		<array>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>rec</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Type</string>
				<key>Width</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>view</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Name</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
	</dict>
	<key>Index PrintInfo</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpG5KEhIQITlNT
	dHJpbmcBlIQBKxROU1ZlcnRpY2FsUGFnaW5hdGlvboaShISECE5TTnVtYmVyAISEB05T
	VmFsdWUAlIQBKoSXlwCGkoSZmQlOU1ByaW50ZXKGkoSEhAlOU1ByaW50ZXIAlJKEmZkL
	MTkyLjE2OC4xLjOGhpKEmZkWTlNIb3Jpem9udGFsbHlDZW50ZXJlZIaShJucnZcBhpKE
	mZkUTlNWZXJ0aWNhbGx5Q2VudGVyZWSGkqOShJmZC05TVG9wTWFyZ2luhpKEm5yEhAFk
	nkiGkoSZmRVOU0hvcml6b25hbFBhZ2luYXRpb26GkoSbnJ2XAoaShJmZCE5TQ29waWVz
	hpKjkoSZmQ9OU1ByaW50QWxsUGFnZXOGkqOShJmZDU5TT3JpZW50YXRpb26GkpqShJmZ
	Dk5TQm90dG9tTWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhcGVyU2l6ZYaShJychIQLe0NH
	U2l6ZT1kZH2fgWQCgRgDhpKEmZkLTlNGaXJzdFBhZ2WGkqOShJmZGE5TRGV0YWlsZWRF
	cnJvclJlcG9ydGluZ4aSmpKEmZkNTlNQYWdlc0Fjcm9zc4aSo5KEmZkLTlNGYXhOdW1i
	ZXKGkoSZmQCGkoSZmRBOU1ByaW50UHJvdGVjdGVkhpKakoSZmQ1OU1ByaW50ZXJOYW1l
	hpKhkoSZmQxOU0xlZnRNYXJnaW6GkoSbnKeeSIaShJmZC05TUHJpbnRUaW1lhpKEhIQG
	TlNEYXRlAJSegwAAAMXIYy3ChpKEmZkLTlNQYXBlck5hbWWGkoSZmQluYS1sZXR0ZXKG
	koSZmQ1OU1JpZ2h0TWFyZ2luhpKEm5ynnkiGkoSZmQtOU1BhZ2VzRG93boaSo5KEmZkN
	TlNNdXN0Q29sbGF0ZYaSo5KEmZkQTlNKb2JEaXNwb3NpdGlvboaShJmZD05TUHJpbnRT
	cG9vbEpvYoaShJmZD05TU2NhbGluZ0ZhY3RvcoaShJucp54BhpKEmZkKTlNMYXN0UGFn
	ZYaShJucnZeC////f4aShJmZCk5TU2F2ZVBhdGiGkraGhg==
	</data>
	<key>Record Album Listings</key>
	<array>
		<dict>
			<key>Album Name</key>
			<string>Individuals</string>
			<key>Album Record Type</key>
			<string>INDI</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I14@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Families</string>
			<key>Album Record Type</key>
			<string>FAM</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@F1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>HUSB.view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Sources</string>
			<key>Album Record Type</key>
			<string>SOUR</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@SR1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Places</string>
			<key>Album Record Type</key>
			<string>_PLC</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view.reverse</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Multimedia Objects</string>
			<key>Album Record Type</key>
			<string>OBJE</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@M11@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Book Styles</string>
			<key>Album Record Type</key>
			<string>_BOK</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@B1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Notes</string>
			<key>Album Record Type</key>
			<string>NOTE</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@N15@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submitters</string>
			<key>Album Record Type</key>
			<string>SUBM</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Header</string>
			<key>Album Record Type</key>
			<string>HEAD</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submission</string>
			<key>Album Record Type</key>
			<string>SUBN</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Future Heirs</string>
			<key>Album Record IDs</key>
			<array>
				<string>@I11@</string>
				<string>@I12@</string>
				<string>@I6@</string>
			</array>
			<key>Album Record Type</key>
			<string>User Album 2</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I11@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>rec</string>
			</array>
			<key>Album Type ID</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Great Grandchildren</string>
			<key>Album Record IDs</key>
			<array>
				<string>@I28@</string>
				<string>@I26@</string>
				<string>@I30@</string>
				<string>@I24@</string>
				<string>@I20@</string>
				<string>@F12@</string>
				<string>@I21@</string>
				<string>@I27@</string>
				<string>@F11@</string>
				<string>@I18@</string>
				<string>@I19@</string>
				<string>@I12@</string>
				<string>@I11@</string>
				<string>@F10@</string>
			</array>
			<key>Album Record Type</key>
			<string>User Album 3</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I19@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Save Thumbnails</key>
	<false/>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
