<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADOP</key>
	<array>
		<string>ADOP</string>
	</array>
	<key>BAPL</key>
	<array>
		<string>BAPL</string>
	</array>
	<key>BAPM</key>
	<array>
		<string>BAPM</string>
	</array>
	<key>BARM</key>
	<array>
		<string>BARM</string>
	</array>
	<key>BASM</key>
	<array>
		<string>BASM</string>
	</array>
	<key>BIRT</key>
	<array>
		<string>BIRT</string>
	</array>
	<key>BLES</key>
	<array>
		<string>BLES</string>
	</array>
	<key>BURI</key>
	<array>
		<string>BURI</string>
	</array>
	<key>CAST</key>
	<array>
		<string>CAST</string>
	</array>
	<key>CENS</key>
	<array>
		<string>CENS</string>
	</array>
	<key>CHR</key>
	<array>
		<string>CHR</string>
	</array>
	<key>CHRA</key>
	<array>
		<string>CHRA</string>
	</array>
	<key>CONF</key>
	<array>
		<string>CONF</string>
	</array>
	<key>CONL</key>
	<array>
		<string>CONL</string>
	</array>
	<key>CREM</key>
	<array>
		<string>CREM</string>
	</array>
	<key>DEAT</key>
	<array>
		<string>DEAT</string>
	</array>
	<key>DSCR</key>
	<array>
		<string>DSCR</string>
	</array>
	<key>EDUC</key>
	<array>
		<string>EDUC</string>
	</array>
	<key>EMIG</key>
	<array>
		<string>EMIG</string>
	</array>
	<key>ENDL</key>
	<array>
		<string>ENDL</string>
	</array>
	<key>EVEN</key>
	<array>
		<string>Generic Event</string>
	</array>
	<key>FCOM</key>
	<array>
		<string>FCOM</string>
	</array>
	<key>GRAD</key>
	<array>
		<string>GRAD</string>
	</array>
	<key>IDNO</key>
	<array>
		<string>IDNO</string>
	</array>
	<key>IMMI</key>
	<array>
		<string>IMMI</string>
	</array>
	<key>NAME</key>
	<array>
		<string>NAME</string>
	</array>
	<key>NATI</key>
	<array>
		<string>NATI</string>
	</array>
	<key>NATU</key>
	<array>
		<string>NATU</string>
	</array>
	<key>NCHI</key>
	<array>
		<string>NCHI</string>
	</array>
	<key>NMR</key>
	<array>
		<string>NMR</string>
	</array>
	<key>OCCU</key>
	<array>
		<string>OCCU</string>
	</array>
	<key>ORDN</key>
	<array>
		<string>ORDN</string>
	</array>
	<key>PROB</key>
	<array>
		<string>PROB</string>
	</array>
	<key>PROP</key>
	<array>
		<string>PROP</string>
	</array>
	<key>REFN</key>
	<array>
		<string>REFN</string>
	</array>
	<key>RELI</key>
	<array>
		<string>RELI</string>
	</array>
	<key>RESI</key>
	<array>
		<string>RESI</string>
	</array>
	<key>RETI</key>
	<array>
		<string>RETI</string>
	</array>
	<key>SLGC</key>
	<array>
		<string>SLGC</string>
	</array>
	<key>SSN</key>
	<array>
		<string>SSN</string>
	</array>
	<key>TITL</key>
	<array>
		<string>TITL</string>
	</array>
	<key>WAC</key>
	<array>
		<string>WAC</string>
	</array>
	<key>WILL</key>
	<array>
		<string>WILL</string>
	</array>
</dict>
</plist>
